<h1 class='text-center'>Latest Posts</h1>

<% @results.each do |row| %>
	<div class='post-index'>

		<div class='post-index-flexmom'>
			<div class='post-index-head'>
				<h4><%= row['author'] %></h4>
				<span>Post №<%= row['id'] %></span>
				<p><%= row['created_date'] %></p>
			</div>

			<div class='post-index-content'>
				<% if row['content'].size > 900 %>
					<!-- если пост слишком длинный берем только 900 символов или менее до пробела -->
					<% i = row['content'][0..900].reverse.index(' ') %>
					<%= row['content'][0..900-i] %>
				<% else %>
					<%= row['content'] %> 
				<% end %>	
				<a href="/details/<%= row['id'] %>">... Читать далее &raquo;</a>	
			</div>
		</div>

		<div class='post-index-comments text-center'>
			<a href="/details/<%= row['id'] %>"> 
				<!-- тело ссылки со счетчиком комментариев -->
				Comments(<%= @comment_counter.find{|hh| hh['post_id'] == row['id'] }['count'] rescue 0 %>)
			</a>
		</div>

	</div>
<% end %>