<h2>Latest Posts</h2>
<br>

<% @results.each do |row| %>
	<p>
		<h4>Post №<%= row['id'] %></h4> <!-- Выводим номер поста -->
		<%= row['content'] %> <!-- Выводим сам пост -->
		<br><br>
		Added by <b><%= row['author'] %></b> at <%= row['created_date'] %> <!-- Выводим автора и дату поста -->
		<br><br>
		<a href="/details/<%= row['id'] %>"> <!-- тело ссылки со счетчиком комментариев -->
			Comments(<%= @comment_counter.find{|hh| hh['post_id'] == row['id'] }['count'] rescue 0 %>)
		</a> 
	</p>
	<hr>
<% end %>